body{
    margin:0;
    background:#111;
    color:white;
    font-family:sans-serif;
    line-height:1.8;
}

.container{
    max-width:900px;
    margin:auto;
    padding:40px 20px;
}

h1{
    text-align:center;
    margin-bottom:40px;
}

h2{
    margin-top:40px;
}

a{
    color:#61b5ff;
    text-decoration:none;
}

a:hover{
    text-decoration:underline;
}

.footer{
    margin-top:60px;
    text-align:center;
    border-top:1px solid #333;
    padding-top:30px;
}

.homeBtn{
    display:inline-block;
    background:#FFD700;
    color:black;
    padding:12px 25px;
    border-radius:15px;
    margin-top:40px;
    font-weight:bold;
}
.startBtn{

display:inline-block;

margin-top:40px;

padding:18px 40px;

background:#FFD700;

color:black;

border-radius:18px;

font-size:24px;

font-weight:bold;

text-decoration:none;

}

.links{

margin-top:60px;

display:flex;

flex-direction:column;

gap:20px;

align-items:center;

}

.links a{

font-size:20px;

color:#61b5ff;

text-decoration:none;

}
